{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Covid-19 Emergency Information</h1>
    <h3>View the emergency measures the parish has put in place to protect our community from Coronavirus</h3>
</div>

<div class="container1 jumbotron responsive">
    <h2>A message from Fr Alessandro</h2>
    <i>
        To my parishioner family,<br /><br />

        I hope and pray that you and your families are well in this time.   It is with great sadness that we have to suspend the Mass and all celebrations or devotions which include numerous gatherings, but we are still a family and will support each other.<br /><br />

        We have set up a FaceBook page to enable live Mass streaming only (see below) so that we can come together as one family in the presence of Christ.

        In the short term please use the <a href="mailto:parishsecstcolumba@gmail.com">parish secretary</a> email address to contact us with any questions and check out this page for further details.<br />

        Some days ago I was often singing a song in the Church of Reconciliation in Taizé: "I am sure I shall see the goodness of the Lord in the land of the living. Yes I shall see the goodness of our God, hold firm, trust in the Lord".

        My prayer is that we put into the hands of our Father our lives, abandoning ourselves in Him! <br /><br />

        Remember you are not alone!!!<br />

        God Bless you all<br />

        In fiducia cordis,<br /><br />
        Fr Alessandro Renò
    </i>
    <hr />
    <b>Effective immediately and in line with the letter from the Catholic Bishops Conference of England and Wales (CBCEW):</b>
    <ul>
        <li>
            All public Masses at St Columba's are suspended from Friday 20th March 2020
        </li>

        <li>
            Fr Alessandro will live stream his private celebration of Mass on Sunday at 10am via the St Columba Facebook page - please click link.   Please note the church will be closed while Fr Alessandro celebrates Mass.
        </li>

        <li>
            Each day our church will remain open for personal prayer and reflection between 9am and 4pm  The only exceptions are Sunday and Monday from 9 to 11am when the Church will be closed.
        </li>

        <li>
            In visiting our church everyone must observe with great care the practices of hygiene and guidance on social distancing.
        </li>
        <li>
            The Sacrament of Reconciliation will be available on request ensuring hygiene and social distancing rules apply.   Please phone the presbytery directly.
        </li>
    </ul>

</div>

{% endblock %}