body {
    padding-top: 0px;
    background-color: #ffea2e;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ffffff;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.container1 {
    background-color: rgba(53, 54, 56, 0.8);
    margin: 10px;
    padding: 15px;
    color: white;
    font-size: 15px;
}

.navbar {
    background-color: #542563;
    color: white;
}

.carousel-item-text{
    padding-top: 20px;
    padding-left: 150px;
    padding-bottom: 20px;
    background-color: #a3a3a3;
    color: white;
    margin-bottom: 15px;
}    
