body {
    padding-top: 0px;
    padding-bottom:15px;
    background-color: #ffe97a;
    font-family: 'Gotu', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
    margin-top:15px;
    background-color: #ffffff;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.container1 {
    background-color: #ffe97a;
    margin: 10px;
    padding: 15px;
    color: black;
    font-size: 15px;
    border-radius: .3rem;
}

.navbar {
    background-color: #3a3a3a;
    color: white;
}

.carousel-item-text{
    color: white;
    margin: 15px;
    max-width: 100%;
}

.carousel-inner {
    background-color: #542563;
    border-radius: 0.3rem;
   
}


.card{
    margin-top: 5px;
}

.card-img-top{
    max-height: 300px;
    width: auto;

}

@media only screen and (max-width: 600px) {
    .iframehidden {
        display: none;
    }
}

.message-colour{
    background: radial-gradient(#ffcc00 , #ffe97a);
    background-repeat: no-repeat;
    color: black;
}

.yt-icon {
    max-height:100px; 
    border-style: solid; 
    border-color: red; 
    border-width: 3px;
    border-radius: 0.3rem;
}

.yt-icon:hover{
    border-width:7px;
    transform: scale(1.1, 1.1);
    box-shadow: 10px 10px 10px grey;
}

.activeBorder {
    border-style: double;
    border-color: white;
    border-width: 10px;
    border-radius: 5px;
}


.window-view{
    width: 100%;
    max-height: 500px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e9ecef;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
}

.mini-icon{
    max-height: 30px;
}
