body {
    padding-top: 0px;
    padding-bottom:15px;
    background-color: #ffe97a;
    font-family: 'Gotu', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
    margin-top:15px;
    background-color: #ffffff;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.container1 {
    background-color: #ffe97a;
    margin: 10px;
    padding: 15px;
    color: black;
    font-size: 15px;
    border-radius: .3rem;
}

.navbar {
    background-color: #3a3a3a;
    color: white;
}

.carousel-item-text{
    color: white;
    margin: 15px;
    max-width: 100%;
}

.carousel-inner {
    background-color: #542563;
    border-radius: 0.3rem;
   
}

h1{
    font-size:8vw;
}

h2{
    font-size:6vw;
}

h3{
    font-size: 5vw
}

h4{
    font-size: 4vw;
}

p{
    font-size: 1vw;
}